Repository Rainbow-SSAP/SSAP-GaNeung_MVP, pull requests merged in 2023-11, with the labels that each got.

#11 feature: [BE] Swagger 적용 #9
  backend/build.gradle
  backend/src/main/java/ssap/ssap/config/SwaggerConfig.java
Labels: 💡 기능

#16 feature: [BE] Proxy 적용 #10
  backend/build.gradle
  backend/src/main/java/ssap/ssap/config/ProxyConfig.java
Labels: 💡 기능

#21 button & checkbox & input & category 스토리북 ui 구현
  frontend/.storybook/preview.ts
  frontend/.storybook/preview.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/assets/accompany-parenting.png
  frontend/src/assets/agency.png
  frontend/src/assets/bug.png
  frontend/src/assets/categoryImages.ts
  frontend/src/assets/cleaning.png
  frontend/src/assets/delivery.png
  frontend/src/assets/other.png
  frontend/src/assets/parttime.png
  frontend/src/assets/pet.png
  frontend/src/assets/repair.png
  frontend/src/components/@common/Button/Button.stories.tsx
  frontend/src/components/@common/Button/Button.tsx
  frontend/src/components/@common/Checkbox/Checkbox.stories.tsx
  frontend/src/components/@common/Checkbox/Checkbox.tsx
  frontend/src/components/@common/Input/Input.stories.tsx
  frontend/src/components/@common/Input/Input.tsx
  frontend/src/components/atoms/category/CategoryGrid.stories.tsx
  frontend/src/components/atoms/category/CategoryGrid.tsx
  frontend/src/components/atoms/category/CategoryItem.stories.tsx
  frontend/src/components/atoms/category/CategoryItem.tsx
  frontend/src/styles/globalStyle.ts
  frontend/src/styles/styled.d.ts
  frontend/src/styles/theme.ts
Labels: 💡 기능, FRONTEND

#23 feature: [BE] 카카오 로그인 기능 구현 #6
  backend/build.gradle
  backend/src/main/java/ssap/ssap/controller/OAuthController.java
  backend/src/main/java/ssap/ssap/dto/Account.java
  backend/src/main/java/ssap/ssap/dto/LoginResponseDto.java
  backend/src/main/java/ssap/ssap/dto/OAuthDTO.java
  backend/src/main/java/ssap/ssap/exception/GlobalExceptionHandler.java
  backend/src/main/java/ssap/ssap/service/KakaoOAuthService.java
  backend/src/main/java/ssap/ssap/service/OAuthService.java
Labels: 💡 기능

#27 feature: [BE] 보안 강화: 카카오 로그인 응답에서 providerId 정보 제거 #26
  backend/src/main/java/ssap/ssap/dto/Account.java
  backend/src/main/java/ssap/ssap/service/KakaoOAuthService.java
Labels: 🛠️ 리팩토링

#28 feature: [BE] 카카오 로그인 기능 구현 #6
  backend/src/main/java/ssap/ssap/domain/User.java
  backend/src/main/java/ssap/ssap/exception/CustomDuplicateKeyException.java
  backend/src/main/java/ssap/ssap/exception/GlobalExceptionHandler.java
  backend/src/main/java/ssap/ssap/repository/UserRepository.java
  backend/src/main/java/ssap/ssap/service/KakaoOAuthService.java
Labels: 💡 기능

#30 feature: [BE] 카카오 로그인 기능 구현 #6
  backend/src/main/java/ssap/ssap/controller/OAuthController.java
  backend/src/main/java/ssap/ssap/service/KakaoOAuthService.java
  backend/src/main/java/ssap/ssap/service/OAuthService.java
Labels: 💡 기능

#34 Label 컴퍼넌트 추가 및 secondary 컬러 변경
  frontend/src/components/@common/Label/Label.stories.tsx
  frontend/src/components/@common/Label/Label.tsx
  frontend/src/styles/theme.ts
Labels: 💡 기능, 우선순위: 🟠 높음, FRONTEND

#38 feature: [BE] Swagger에서 API 호출 시 CORS 에러 발생 #37
  backend/src/main/java/ssap/ssap/config/SwaggerConfig.java
Labels: 👾 버그

#42 fix: [BE] 카카오 로그아웃 기능 구현 #39
  backend/src/main/java/ssap/ssap/controller/OAuthController.java
  backend/src/main/java/ssap/ssap/exception/CustomServiceException.java
  backend/src/main/java/ssap/ssap/service/KakaoOAuthService.java
  backend/src/main/java/ssap/ssap/service/OAuthService.java
Labels: 💡 기능

#48 심부름 지원하기 버튼 & 바텀 시트
  frontend/.eslintrc.js
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/components/@common/Input/Input.tsx
  frontend/src/components/bottomSheet/BottomSheet.tsx
  frontend/src/components/bottomSheet/Content.tsx
  frontend/src/components/bottomSheet/Header.tsx
  frontend/src/constants/common.ts
  frontend/src/context/toast/ToastContext.tsx
  frontend/src/hooks/bottomSheet/useBottomSheet.ts
  frontend/src/hooks/bottomSheet/usePreviousValue.ts
  frontend/src/index.tsx
  frontend/src/pages/ErrandRequest/ErrandRequestPage.tsx
  frontend/src/pages/Login/LoginHandler.tsx
  frontend/tsconfig.json
Labels: FRONTEND

#56 fix: [BE] Swagger에서 로그아웃 API 요청 시 Authorization 값이 제대로 넘어가지 않는 문제 #41
  backend/src/main/java/ssap/ssap/config/SwaggerConfig.java
Labels: BACKEND

#70 fix: 최초 로그인 시 사용자 정보가 DB에 저장되지 않는 문제 #64
  backend/src/main/java/ssap/ssap/service/KakaoOAuthService.java
Labels: BACKEND

#74 Be mainpage category
  .idea/.gitignore
  .idea/SSAP.iml
  .idea/compiler.xml
  .idea/dataSources.xml
  .idea/git_toolbox_prj.xml
  .idea/gradle.xml
  .idea/jarRepositories.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/modules/ssap.main.iml
  .idea/vcs.xml
  backend/src/main/java/ssap/ssap/config/ProxyConfig.java
  backend/src/main/java/ssap/ssap/controller/CategoryController.java
  backend/src/main/java/ssap/ssap/controller/DetailedItemController.java
  backend/src/main/java/ssap/ssap/domain/Category.java
  backend/src/main/java/ssap/ssap/domain/DetailedItem.java
  backend/src/main/java/ssap/ssap/dto/DetailedItemDTO.java
  backend/src/main/java/ssap/ssap/repository/CategoryRepository.java
  backend/src/main/java/ssap/ssap/repository/DetailedItemRepository.java
  backend/src/main/java/ssap/ssap/service/CategoryService.java
  backend/src/main/java/ssap/ssap/service/DetailedItemService.java
Labels: BACKEND

#75 Be mapage errand
  backend/src/main/java/ssap/ssap/controller/ErrandController.java
  backend/src/main/java/ssap/ssap/domain/ErrandEntity.java
  backend/src/main/java/ssap/ssap/domain/ThumbNailEntity.java
  backend/src/main/java/ssap/ssap/dto/ErrandDTO.java
  backend/src/main/java/ssap/ssap/dto/ThumbNailDTO.java
  backend/src/main/java/ssap/ssap/repository/ErrandRepository.java
  backend/src/main/java/ssap/ssap/repository/ThumbNailRepository.java
  backend/src/main/java/ssap/ssap/service/ErrandService.java
Labels: BACKEND

#76 refactor : 코드 수정
  backend/src/main/java/ssap/ssap/domain/Category.java
  backend/src/main/java/ssap/ssap/domain/DetailedItem.java
  backend/src/main/java/ssap/ssap/repository/CategoryRepository.java
  backend/src/main/java/ssap/ssap/repository/DetailedItemRepository.java
Labels: BACKEND

#77 refactor : 코드 수정
  backend/src/main/java/ssap/ssap/domain/ErrandEntity.java
  backend/src/main/java/ssap/ssap/dto/ErrandDTO.java
  backend/src/main/java/ssap/ssap/service/ErrandService.java
Labels: BACKEND

#81 feature: 카카오 로그인 시 사용자 정보 추가 수집 및 DB 저장 #78
  backend/src/main/java/ssap/ssap/domain/User.java
  backend/src/main/java/ssap/ssap/dto/OAuthDTO.java
  backend/src/main/java/ssap/ssap/service/KakaoOAuthService.java
Labels: BACKEND

#84 fix: 카카오 로그인 사용자 프로필 이미지 url 반환 안되는 문제 #83
  backend/src/main/java/ssap/ssap/dto/Account.java
  backend/src/main/java/ssap/ssap/service/KakaoOAuthService.java
Labels: BACKEND

#90 feature: 카카오 사용자 정보 DB에 저장 시 데이터값 가공하여 저장하도록 수정 #85
  backend/src/main/java/ssap/ssap/service/KakaoOAuthService.java
Labels: BACKEND

#91 요청서 작성하기 로직 추가
  frontend/.env
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/@common/Button/Button.tsx
  frontend/src/components/@common/ButtonGroup/ButtonGroup.tsx
  frontend/src/components/@common/Checkbox/Checkbox.stories.tsx
  frontend/src/components/@common/Checkbox/Checkbox.tsx
  frontend/src/components/@common/Error/ErrorMessage.tsx
  frontend/src/components/@common/FormItem/FormItem.stories.tsx
  frontend/src/components/@common/FormItem/FormItem.tsx
  frontend/src/components/@common/Input/Input.tsx
  frontend/src/components/@common/Label/Label.tsx
  frontend/src/components/@common/Select/Select.stories.tsx
  frontend/src/components/@common/Select/Select.tsx
  frontend/src/components/@common/Textarea/Textarea.stories.tsx
  frontend/src/components/@common/Textarea/Textarea.tsx
  frontend/src/components/ErrandRequest/AuctionStatus/AuctionStatus.tsx
  frontend/src/components/ErrandRequest/Category/Category.tsx
  frontend/src/components/ErrandRequest/DateInput/DateInput.tsx
  frontend/src/components/ErrandRequest/Description/Description.tsx
  frontend/src/components/ErrandRequest/ErrandRequest.tsx
  frontend/src/components/ErrandRequest/EstimatedTime/EstimatedTime.tsx
  frontend/src/components/ErrandRequest/Fee/Fee.tsx
  frontend/src/components/ErrandRequest/Location/Location.tsx
  frontend/src/components/ErrandRequest/PreferredGender/PreferredGender.tsx
  frontend/src/components/ErrandRequest/Terms/Terms.tsx
  frontend/src/components/ErrandRequest/Timing/Timing.tsx
  frontend/src/components/ErrandRequest/Title/Title.tsx
  frontend/src/components/Home/Home.tsx
  frontend/src/components/KakaoMap/KakaoMap.tsx
  frontend/src/constants/errand.ts
  frontend/src/hooks/useCurrentLocation.ts
  frontend/src/pages/ErrandRequest/ErrandRequestPage.tsx
  frontend/src/pages/Home/HomePage.tsx
  frontend/src/recoil/atoms/errand.ts
  frontend/src/styles/globalStyle.ts
  frontend/src/types/errand.ts
Labels: 💡 기능, 우선순위: 🟠 높음, FRONTEND

#93 요청서 작성 이미지 업로드 및 API 호출 로직 추가
  frontend/.eslintrc.js
  frontend/package-lock.json
  frontend/src/apis/errand.ts
  frontend/src/components/@common/Input/Input.tsx
  frontend/src/components/ErrandRequest/ErrandRequest.tsx
  frontend/src/components/ErrandRequest/ImgFile/ImgFile.tsx
  frontend/src/pages/ErrandRequest/ErrandRequestPage.tsx
  frontend/src/types/errand.ts
Labels: 💡 기능, 우선순위: 🟠 높음, FRONTEND

#94 - [FE] 로그인/로그아웃 기능
  frontend/.env.production
  frontend/package-lock.json
  frontend/package.json
  frontend/src/apis/Logout.ts
  frontend/src/apis/OAuth.ts
  frontend/src/apis/TokenValidate.ts
  frontend/src/apis/api.ts
  frontend/src/assets/Kakao.png
  frontend/src/assets/goback.png
  frontend/src/assets/headerImages.ts
  frontend/src/assets/menu.png
  frontend/src/assets/menu2.png
  frontend/src/components/Header/Header.stories.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/components/bottomSheet/Content.tsx
  frontend/src/pages/ErrandDetails/ErrandDetailsPage.tsx
  frontend/src/pages/ErrandDetails/Header.tsx
  frontend/src/pages/Login/LoginHandler.tsx
  frontend/src/pages/Login/LoginPage.tsx
  frontend/src/router/Router.tsx
Labels: 우선순위: 🔴 긴급, FRONTEND

#95 feature: 심부름 요청서 작성 시, 이미지 파일 S3에 업로드 및 업로드된 이미지 S3 주소 DB 저장 기능 구현 #79
  backend/build.gradle
  backend/src/main/java/ssap/ssap/config/S3Config.java
  backend/src/main/java/ssap/ssap/controller/RequestController.java
  backend/src/main/java/ssap/ssap/domain/Task.java
  backend/src/main/java/ssap/ssap/dto/TaskRequestDto.java
  backend/src/main/java/ssap/ssap/service/TaskService.java
Labels: BACKEND

#97 feature: CORS가 적용안된 Controller에 CORS 적용 #96
  backend/src/main/java/ssap/ssap/controller/CategoryController.java
  backend/src/main/java/ssap/ssap/controller/DetailedItemController.java
  backend/src/main/java/ssap/ssap/controller/ErrandController.java
  backend/src/main/java/ssap/ssap/controller/RequestController.java
Labels: BACKEND

#99 fix: S3Config.java 파일에 PROXY_HOST 설정 수정 #98
  backend/src/main/java/ssap/ssap/config/S3Config.java
Labels: BACKEND

#101 feature: 심부름 요청서 작성 시 입력 값 수정 #100
  backend/src/main/java/ssap/ssap/dto/TaskRequestDto.java
  backend/src/main/java/ssap/ssap/service/TaskService.java
Labels: BACKEND

#103 feature: TaskRequestDto(심부름 요청성 작성 API 호출 DTO) 수정 - fileData(심부름 게시글 첨부 사진 파일 URL) 제거
  backend/src/main/java/ssap/ssap/dto/TaskRequestDto.java
Labels: BACKEND

#104 심부름 리스트 코드 수정 작업
  backend/src/main/java/ssap/ssap/controller/ErrandController.java
  backend/src/main/java/ssap/ssap/domain/ErrandEntity.java
  backend/src/main/java/ssap/ssap/domain/ThumbNailEntity.java
  backend/src/main/java/ssap/ssap/dto/ErrandDTO.java
  backend/src/main/java/ssap/ssap/dto/ErrandResponseDto.java
  backend/src/main/java/ssap/ssap/repository/ErrandRepository.java
  backend/src/main/java/ssap/ssap/repository/ThumbNailRepository.java
  backend/src/main/java/ssap/ssap/service/ErrandService.java
Labels: BACKEND

#108 ErrandController(메인페이지 실시간 심부름 리스트 API)에 CORS 적용
  backend/src/main/java/ssap/ssap/controller/ErrandController.java
Labels: BACKEND

#117 HomePage에 MainHeader, Main컴포넌트 추가 및 요청하기 라우터 처리 등
  frontend/src/components/@common/Button/Button.tsx
  frontend/src/components/@common/Header/GnbHeader/GnbHeader.tsx
  frontend/src/components/@common/Header/Menu/UserProfile.tsx
  frontend/src/components/ErrandList/ErrandItem.tsx
  frontend/src/components/ErrandList/Errands.tsx
  frontend/src/mocks/errandsData.ts
  frontend/src/pages/Home/HomePage.tsx
  frontend/src/pages/Login/LoginPage.tsx
Labels: 🛠️ 리팩토링, 💡 기능, FRONTEND

#119 심부름 요청서 제출 항목 수정
  frontend/src/components/ErrandRequest/ErrandRequest.tsx
  frontend/src/components/ErrandRequest/Timing/Timing.tsx
  frontend/src/components/KakaoMap/KakaoMap.tsx
  frontend/src/pages/ErrandRequest/ErrandRequestPage.tsx
  frontend/src/types/errand.ts
Labels: 우선순위: 🔴 긴급, 🛠️ 리팩토링, FRONTEND

#121 심부름 상세 페이지 & 바텀시트 ui 구현 및 토스트 메세지 공통으로 사용가능하게 분리
  frontend/public/index.html
  frontend/src/assets/close.png
  frontend/src/components/@common/Header/Header.stories.tsx
  frontend/src/components/@common/Header/Header.tsx
  frontend/src/components/bottomSheet/BottomSheet.tsx
  frontend/src/components/bottomSheet/Content.tsx
  frontend/src/components/bottomSheet/Header.tsx
  frontend/src/constants/toast.ts
  frontend/src/mocks/ErrandRequestMockData.json
  frontend/src/pages/ErrandDetails/ErrandDate.tsx
  frontend/src/pages/ErrandDetails/ErrandDetail.tsx
  frontend/src/pages/ErrandDetails/ErrandDetailsPage.tsx
  frontend/src/pages/ErrandDetails/ErrandFeeContainer.tsx
  frontend/src/pages/ErrandDetails/KakaoMap.tsx
  frontend/src/pages/ErrandDetails/Title.tsx
  frontend/src/pages/ErrandDetails/UserProfile.tsx
  frontend/src/pages/ErrandRequest/ErrandRequestPage.tsx
Labels: FRONTEND

#124 feature : 심부름 상세 페이지 추가 작업
  backend/src/main/java/ssap/ssap/controller/ErrandDetailedController.java
  backend/src/main/java/ssap/ssap/dto/ErrandResponseDto.java
  backend/src/main/java/ssap/ssap/service/ErrandDetailedService.java
  backend/src/main/java/ssap/ssap/service/ErrandService.java
Labels: BACKEND

#126 feature: 사용자 정보 조회 API 구현 #71
  backend/build.gradle
  backend/src/main/java/ssap/ssap/controller/UserController.java
  backend/src/main/java/ssap/ssap/exception/GlobalExceptionHandler.java
  backend/src/main/java/ssap/ssap/exception/InvalidAccessTokenException.java
  backend/src/main/java/ssap/ssap/service/KakaoOAuthService.java
  backend/src/main/java/ssap/ssap/service/UserService.java
Labels: BACKEND

#131 refactor : DetailedItemDTO 수정 #130
  backend/src/main/java/ssap/ssap/dto/DetailedItemDTO.java
  backend/src/main/java/ssap/ssap/dto/ErrandResponseDto.java
  backend/src/main/java/ssap/ssap/service/ErrandService.java
Labels: 🛠️ 리팩토링, BACKEND

#134 메인페이지 카테고리, 심부름 리스트 에러 로그 수정
  backend/src/main/java/ssap/ssap/controller/DetailedItemController.java
  backend/src/main/java/ssap/ssap/controller/ErrandController.java
  backend/src/main/java/ssap/ssap/controller/ErrandDetailedController.java
Labels: 🛠️ 리팩토링, BACKEND

#136 심부름 상세 페이지 ErrandDetailedService 수정
  backend/src/main/java/ssap/ssap/service/ErrandDetailedService.java
Labels: 🛠️ 리팩토링, BACKEND

#140 [FE] 심부름 상세 페이지 UI & 카카오지도 & 데이터 출력
  frontend/public/index.html
  frontend/src/apis/errandDetail.ts
  frontend/src/components/ErrandDetail/ErrandCategory.tsx
  frontend/src/components/ErrandDetail/ErrandDate.tsx
  frontend/src/components/ErrandDetail/ErrandDetail.tsx
  frontend/src/components/ErrandDetail/ErrandFeeContainer.tsx
  frontend/src/components/ErrandDetail/ErrandLocation.tsx
  frontend/src/components/ErrandDetail/KakaoMap.tsx
  frontend/src/components/ErrandDetail/Title.tsx
  frontend/src/components/ErrandDetail/UserProfile.tsx
  frontend/src/components/ErrandList/ErrandItem.tsx
  frontend/src/pages/ErrandDetails/ErrandDetailsPage.tsx
  frontend/src/pages/ErrandDetails/Header.tsx
  frontend/src/pages/ErrandDetails/KakaoMap.tsx
  frontend/src/router/Router.tsx
Labels: 💡 기능, FRONTEND

#144 feature: 심부름 입찰 API 및 서비스 로직 구현 #139
  backend/src/main/java/ssap/ssap/controller/BidController.java
  backend/src/main/java/ssap/ssap/domain/Auction.java
  backend/src/main/java/ssap/ssap/domain/Bid.java
  backend/src/main/java/ssap/ssap/dto/BidRequestDto.java
  backend/src/main/java/ssap/ssap/repository/AuctionRepository.java
  backend/src/main/java/ssap/ssap/repository/BidRepository.java
  backend/src/main/java/ssap/ssap/service/BidService.java
  backend/src/main/java/ssap/ssap/service/TaskService.java
Labels: 💡 기능, 우선순위: 🟠 높음, BACKEND

#146 refactor: [BE] Task 엔티티 저장 로직 순서 개선 #145
  backend/src/main/java/ssap/ssap/service/TaskService.java
Labels: 🛠️ 리팩토링, 우선순위: 🟡 중간, BACKEND

#148 심부름 상세 페이지 Task 엔티티 연관성 추가 및 service 수정
  backend/src/main/java/ssap/ssap/domain/Task.java
  backend/src/main/java/ssap/ssap/service/ErrandDetailedService.java
Labels: 🛠️ 리팩토링, BACKEND

#153 메인페이지 심부름 상세 페이지 AuctionId 참조 수정
  backend/src/main/java/ssap/ssap/service/ErrandDetailedService.java
Labels: 🛠️ 리팩토링, BACKEND

#157 요청서 작성하기와 메인 페이지 기능 수정 및 공통 레이아웃 UI 수정
  frontend/src/apis/Logout.ts
  frontend/src/apis/TokenValidate.ts
  frontend/src/apis/api.ts
  frontend/src/apis/category.ts
  frontend/src/apis/errand.ts
  frontend/src/components/@common/Header/GnbHeader/GnbHeader.tsx
  frontend/src/components/@common/Header/Header.stories.tsx
  frontend/src/components/@common/Header/Header.tsx
  frontend/src/components/@common/Header/MainHeader.tsx
  frontend/src/components/@common/Header/Menu/Menu.tsx
  frontend/src/components/@common/Header/Menu/UserProfile.tsx
  frontend/src/components/@common/Select/Select.stories.tsx
  frontend/src/components/@common/Select/Select.tsx
  frontend/src/components/Component.tsx
  frontend/src/components/ErrandList/ErrandItem.tsx
  frontend/src/components/ErrandList/Errands.tsx
  frontend/src/components/ErrandRequest/AuctionStatus/AuctionStatus.tsx
  frontend/src/components/ErrandRequest/Category/Category.tsx
  frontend/src/components/ErrandRequest/Description/Description.tsx
  frontend/src/components/ErrandRequest/Fee/Fee.tsx
  frontend/src/components/ErrandRequest/ImgFile/ImgFile.tsx
  frontend/src/components/ErrandRequest/Location/Location.tsx
  frontend/src/components/ErrandRequest/Timing/Timing.tsx
  frontend/src/components/ErrandRequest/Title/Title.tsx
  frontend/src/components/KakaoMap/KakaoMap.tsx
  frontend/src/components/Main/Main.tsx
  frontend/src/components/Template.tsx
  frontend/src/hooks/useAuctionTimeLeft.ts
  frontend/src/hooks/useCurrentLocation.ts
  frontend/src/mocks/errandsData.json
  frontend/src/mocks/errandsData.ts
  frontend/src/mocks/userData.json
  frontend/src/mocks/userData.ts
  frontend/src/pages/ErrandRequest/ErrandRequestPage.tsx
  frontend/src/pages/Home/HomePage.tsx
  frontend/src/recoil/atoms/errandState.ts
  frontend/src/styles/globalStyle.ts
Labels: 🛠️ 리팩토링, 💡 기능, FRONTEND

#159 feature: 특정 경매의 최신 입찰 정보를 조회 API 구현 #149
  backend/src/main/java/ssap/ssap/controller/BidController.java
  backend/src/main/java/ssap/ssap/controller/BidResponseDto.java
  backend/src/main/java/ssap/ssap/repository/BidRepository.java
  backend/src/main/java/ssap/ssap/service/BidService.java
Labels: 💡 기능, 우선순위: 🟠 높음, BACKEND

#161 요청서 작성하기 날짜/시간 선택 input에서 버튼으로 변경
  frontend/src/components/ErrandRequest/DateInput/DateInput.tsx
Labels: 우선순위: 🔴 긴급, 🛠️ 리팩토링, 💡 기능, FRONTEND

#162 refactor : 심부름 상세 정보 조회 taskId를 통해 Auction 엔티티를 찾는 로직 수정
  backend/src/main/java/ssap/ssap/repository/AuctionRepository.java
  backend/src/main/java/ssap/ssap/service/ErrandDetailedService.java
Labels: 👾 버그, BACKEND

#163 카테고리 별 심부름 리스트 조회 기능 구현
  backend/src/main/java/ssap/ssap/controller/ErrandListController.java
  backend/src/main/java/ssap/ssap/repository/TaskRepository.java
  backend/src/main/java/ssap/ssap/service/ErrandListService.java
Labels: 💡 기능, BACKEND

#169 카테고리 별 심부름 리스트 '동'(지번) 필터링 기능 구현
  backend/src/main/java/ssap/ssap/controller/ErrandListController.java
  backend/src/main/java/ssap/ssap/repository/TaskRepository.java
  backend/src/main/java/ssap/ssap/service/ErrandListService.java
Labels: 💡 기능, BACKEND

#170 [FE] 입찰하기 바텀 시트 구현
  frontend/public/index.html
  frontend/src/apis/auctionDetail.ts
  frontend/src/apis/currentBid.ts
  frontend/src/components/bottomSheet/BottomSheet.tsx
  frontend/src/components/bottomSheet/Content.tsx
  frontend/src/pages/ErrandDetails/ErrandDetailsPage.tsx
  frontend/src/pages/Login/LoginHandler.tsx
  frontend/src/recoil/atoms/userInfo.js
Labels: FRONTEND

#172 메인페이지 🌈 우리 동네 심부름 리스트 동(지번) 별 필터링 구현 #171
  backend/src/main/java/ssap/ssap/controller/ErrandController.java
  backend/src/main/java/ssap/ssap/repository/TaskRepository.java
  backend/src/main/java/ssap/ssap/service/ErrandService.java
Labels: 💡 기능, BACKEND

#178 feature: 메인페이지 🌈 우리 동네 심부름 리스트 필터링 방식 수정 (동 -> 구 기준으로 수정) #176
  backend/src/main/java/ssap/ssap/service/ErrandService.java
Labels: 💡 기능, 우선순위: 🟠 높음, BACKEND

#179 fix: 심부름 상세 페이지 조회 시, 경매 등록이 안된 심부름인 경우, 경매ID를 못찾는 문제 #177
  backend/src/main/java/ssap/ssap/service/ErrandDetailedService.java
Labels: 우선순위: 🔴 긴급, 👾 버그, BACKEND

#181 refactor: BidResponseDto를 controller 패키지에서 dto 패키지로 이동 #180
  backend/src/main/java/ssap/ssap/dto/BidResponseDto.java
Labels: 🛠️ 리팩토링, 우선순위: 🟡 중간, BACKEND

#174 [FE] 심부름 리스트 페이지 네비게이션 바 ui 구현
  .DS_Store
  frontend/src/apis/category.ts
  frontend/src/apis/errandCategory.ts
  frontend/src/components/ErrandList/Nav.tsx
  frontend/src/components/ErrandList/NavBar.tsx
  frontend/src/pages/ErrandDetails/ErrandDetailsPage.tsx
  frontend/src/pages/ErrandList/ErrandListPage.tsx
Labels: FRONTEND

#184 feat(메뉴 사용자 프로필 로그인된 사용자 데이터로 변경): #151
  frontend/src/components/@common/Header/Menu/UserProfile.tsx
  frontend/src/pages/Login/LoginHandler.tsx
  frontend/src/recoil/atoms/userInfo.ts
Labels: 우선순위: 🔴 긴급, 💡 기능, FRONTEND

#187 카테고리 별 심부름 리스트 조회 기능 코드 수정(동 → 구)
  backend/src/main/java/ssap/ssap/controller/ErrandListController.java
  backend/src/main/java/ssap/ssap/dto/ErrandListResponseDto.java
  backend/src/main/java/ssap/ssap/repository/TaskRepository.java
  backend/src/main/java/ssap/ssap/service/ErrandListService.java
Labels: 🛠️ 리팩토링, BACKEND

#188 [FE] Hotfix 입찰 바텀시트 로직 수정
  frontend/src/components/ErrandDetail/ErrandFeeContainer.tsx
  frontend/src/components/ErrandDetail/KakaoMap.tsx
  frontend/src/components/ErrandDetail/Title.tsx
  frontend/src/components/ErrandDetail/UserProfile.tsx
  frontend/src/components/bottomSheet/Content.tsx
Labels: FRONTEND

#190 refactoer(요청서 api email데이터 로그인된 사용자 데이터로 변경): #186
  frontend/src/apis/errand.ts
  frontend/src/pages/ErrandRequest/ErrandRequestPage.tsx
Labels: 우선순위: 🔴 긴급, 🛠️ 리팩토링, 💡 기능, FRONTEND

#191 feat(카테고리별 심부름 페이지 및 카테고리 내비게이션 기능 추가와 개선): #189
  frontend/src/components/@common/Header/Menu/Nav.tsx
  frontend/src/components/@common/Header/Menu/NavItem.tsx
  frontend/src/components/ErrandList/ErrandItem.tsx
  frontend/src/components/ErrandList/Nav.tsx
  frontend/src/components/ErrandList/NavBar.tsx
  frontend/src/components/Main/Category/CategoryGrid.tsx
  frontend/src/constants/errand.ts
  frontend/src/pages/ErrandList/ErrandListPage.tsx
  frontend/src/router/Router.tsx
  frontend/src/types/category.ts
  frontend/src/types/errand.ts
Labels: 우선순위: 🔴 긴급, 🛠️ 리팩토링, 💡 기능, FRONTEND

#199 feature: 특정 경매 입찰 정보 조회 시, 한번도 입찰이 이루어지지 않은 경우, 금액을 심부름 초기 가격을 반환하도록 수정
  backend/src/main/java/ssap/ssap/service/BidService.java
Labels: 💡 기능, 우선순위: 🟠 높음, BACKEND

#201 fix: 최초 입찰 시 입찰 가격 비교 대상이 없어 입찰이 되지 않는 문제 #200
  backend/src/main/java/ssap/ssap/service/BidService.java
Labels: 👾 버그, 우선순위: 🟠 높음, BACKEND

#198 feat(카테고리별 심부름 내역 api 현재 위치 추가 호출): #194
  frontend/src/apis/errandCategory.ts
  frontend/src/pages/ErrandList/ErrandListPage.tsx
Labels: 우선순위: 🔴 긴급, 🛠️ 리팩토링, 💡 기능, FRONTEND

#202 [FE] Hotfix 입찰하기 바텀시트 현재 입찰가 0으로 초기화 되는 버그 수정
  frontend/src/components/bottomSheet/BottomSheet.tsx
  frontend/src/components/bottomSheet/Content.tsx
  frontend/src/pages/ErrandDetails/ErrandDetailsPage.tsx
Labels: 👾 버그, FRONTEND

#203 design(전체 페이지 CSS 디자인 오버홀): #197
  frontend/src/components/@common/Button/Button.tsx
  frontend/src/components/@common/Footer/Footer.tsx
  frontend/src/components/ErrandDetail/ErrandDetail.tsx
  frontend/src/components/ErrandDetail/ErrandFeeContainer.tsx
  frontend/src/components/ErrandDetail/KakaoMap.tsx
  frontend/src/components/ErrandDetail/UserProfile.tsx
  frontend/src/components/ErrandList/ErrandItem.tsx
  frontend/src/components/ErrandList/Nav.tsx
  frontend/src/components/ErrandList/NavBar.tsx
  frontend/src/components/Loading/Loding.tsx
  frontend/src/components/Main/Errands.tsx
  frontend/src/components/Main/Main.tsx
  frontend/src/components/Template.tsx
  frontend/src/hooks/useLockBodyScroll.ts
  frontend/src/pages/ErrandDetails/ErrandDetailsPage.tsx
  frontend/src/pages/ErrandList/ErrandListPage.tsx
  frontend/src/pages/ErrandRequest/ErrandRequestPage.tsx
  frontend/src/pages/Home/HomePage.tsx
  frontend/src/pages/Login/LoginPage.tsx
Labels: 💡 기능, 우선순위: 🟠 높음, FRONTEND

#206 design(추가 css 수정): #197
  frontend/src/components/@common/Button/Button.tsx
  frontend/src/components/@common/Header/GnbHeader/GnbHeader.tsx
  frontend/src/components/@common/Header/Menu/Menu.tsx
  frontend/src/components/@common/Header/Menu/UserProfile.tsx
  frontend/src/components/ErrandDetail/Title.tsx
  frontend/src/pages/ErrandList/ErrandListPage.tsx
Labels: 🛠️ 리팩토링, 우선순위: 🟠 높음, FRONTEND

#207 Hotfix #204 입찰 바텀시트 유저 성뱔과 나이대 표기 방법 수정
  frontend/src/components/ErrandDetail/UserProfile.tsx
  frontend/src/components/bottomSheet/Content.tsx
  frontend/src/pages/ErrandDetails/ErrandDetailsPage.tsx
Labels: FRONTEND

#210 fix: startTime을 StartTime으로 변경
  frontend/src/components/ErrandDetail/ErrandDate.tsx
Labels: FRONTEND
