Repository Rainbow-SSAP/SSAP-GaNeung_MVP, pull requests merged in 2024-02, with the labels that each got.

#231 로그인 인증에 따른 라우터 처리 및 api 호출 주소 정리와 패키지 매니저 yarn 변경
  frontend/.env.production
  frontend/package-lock.json
  frontend/src/App.tsx
  frontend/src/apis/Logout.ts
  frontend/src/apis/api.ts
  frontend/src/pages/Login/LoginHandler.tsx
  frontend/src/pages/Login/LoginPage.tsx
  frontend/src/router/Private.tsx
  frontend/src/router/Router.tsx
  frontend/src/router/router.ts
  frontend/src/router/routes.ts
  frontend/src/router/routes.tsx
  frontend/yarn.lock
Labels: 🛠️ 리팩토링, 💡 기능, 우선순위: 🟠 높음, FRONTEND

#235 PWA 적용
  frontend/public/favicon.ico
  frontend/public/icons/ssap_icon_x128.png
  frontend/public/icons/ssap_icon_x192.png
  frontend/public/icons/ssap_icon_x384.png
  frontend/public/icons/ssap_icon_x48.png
  frontend/public/icons/ssap_icon_x512.png
  frontend/public/icons/ssap_icon_x72.png
  frontend/public/icons/ssap_icon_x96.png
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/src/index.tsx
  frontend/src/service-worker.ts
  frontend/src/serviceWorkerRegistration.ts
Labels: 💡 기능, FRONTEND

#234 chore: 프록시 설정 관련 코드 주석 처리 #230
  backend/src/main/java/ssap/ssap/config/ProxyConfig.java
Labels: 💡 기능, 우선순위: 🟡 중간, BACKEND

#236 chore: 프록시 설정 관련 코드 주석 처리 #230
  backend/src/main/java/ssap/ssap/config/ProxyConfig.java
Labels: 💡 기능, 우선순위: 🟡 중간, BACKEND

#238 feat: 유저 주소 정보 저장 API 구현 #237
  backend/src/main/java/ssap/ssap/controller/UserAddressController.java
  backend/src/main/java/ssap/ssap/domain/User.java
  backend/src/main/java/ssap/ssap/dto/UserAddressDTO.java
  backend/src/main/java/ssap/ssap/exception/GlobalExceptionHandler.java
  backend/src/main/java/ssap/ssap/exception/UserNotFoundException.java
  backend/src/main/java/ssap/ssap/service/UserService.java
Labels: 💡 기능, 우선순위: 🟡 중간, BACKEND

#239 feat: 카카오 로그인 회원 정보 반환 시 주소 데이터 추가 #232
  backend/src/main/java/ssap/ssap/dto/Account.java
  backend/src/main/java/ssap/ssap/service/KakaoOAuthService.java
Labels: 💡 기능, 우선순위: 🟡 중간, BACKEND
